/************ Fonts *************/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@font-face {
  font-family: 'Avenir Black';
  src: url(../fonts/Avenir-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Avenir Book';
  src: url(../fonts/Avenir-Book.ttf) format("truetype"); }
@font-face {
  font-family: 'Avenir Medium';
  src: url(../fonts/Avenir-Medium.ttf) format("truetype"); }
/************ All-Page Styles *************/
.navbar-toggle.navbar-toggle-left {
  float: left;
  margin-left: 10px;
}

h1, h4 {
  text-transform: uppercase;
  font-family: 'Avenir Book', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  text-align: center;
}

h4 {
  border-bottom:  2px solid #B40001;
  padding:5px;
}

a {
  color: #B40001; 
}

a:hover {
  transition: .3s;
  color: #b7b7b7;
  text-decoration: none;
}

.divider {
  border-bottom: 2px solid #B40001;
  width: 100px;
  margin: 10px auto 20px auto;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #333;
  line-height: 1.8em;
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.typeform-share {
  width: 100%;
}

.join {
  background-color: black;
  margin-left:auto;
  margin-right:auto;
  text-decoration:none;
  color:white;
  cursor:pointer;
  font-family:Helvetica,Arial,sans-serif;
  font-size:20px;
  line-height:50px;
  text-align:center;
  margin:0;
  height:50px;
  width:100%;
  padding:0px 33px;
  border-radius:25px;
  border-style: solid;
  border-color: #B40001;
  border-width: 2px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale; 
}

.join:hover {
  background-color:#B40001;
  color: white;
}

/************ Section Styles *************/
.parallax {
  padding: 30px 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; 
}

.scrolling {
  min-height: 50%;
  padding: 30px 0;
}

.hero {
  background-image: url("../images/img_background.png");
  min-height: 100%;
  padding: 30px 0;
}

.navbar {
  background-color: #FFFFFF;
  border: 0px solid #333;
  text-transform: uppercase;
}

.navbar-default .navbar-nav {
  font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .navbar-default .navbar-nav li a {
    color: #333; }
  .navbar-default .navbar-nav li a:hover {
    color: #af2628;
  }

.web-logo {
  position: relative;
  top: 106px; 
}

.web-logo img {
    display: block;
    width: 100%;
}

.header {
  background-image: url("../images/header.jpg"); }
  .header h1 {
    color: #b7b7b7; }
  .header strong {
    font-weight: 700; }
  .header .divider {
    border-color: #333; }
  .header .icons {
    margin: 10vh 0 5vh 0; }
    .header .icons p {
      color: #b7b7b7;
      font-family: 'Avenir-Book', sans-serif;
      font-size: 1.2vw;
      text-align: center; }
      .header .icons p strong {
        color: #333;
        font-size: 1.5vw; }
      .header .icons p i {
        font-size: 7vw;
        margin-bottom: 1vh;
        color: #af2628; }

.meetinginfo {
  background: #333; }
  .meetinginfo h1 {
    color: #FFFFFF; }
  .meetinginfo h2 {
    display: block;
    background: #af2628;
    text-align: center;
    margin: 0;
    padding: 15px 10px;
    color: #FFFFFF;
    font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em; }
  .meetinginfo p {
    text-align: center; }
  .meetinginfo .col-md-4 {
    margin: 0;
    padding: 0; }
  .meetinginfo .left {
    padding-right: 20px; }
  .meetinginfo .middle {
    padding-right: 20px; }
  .meetinginfo .right {
    padding-right: 20px; }
  .meetinginfo .divider {
    border-color: #FFFFFF; }
  .meetinginfo .question-box {
    background: #FFFFFF;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0; }
    .meetinginfo .question-box p {
      padding: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #333;
      line-height: 1.5em; }

.about {
  background-image: url("../images/img_about_background.jpg"); }
  .about h1 {
    color: #333; }
  .about .about-button-div {
    margin-top: 3vh;
    text-align: center; }
  .about .about-button {
    font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    transition: .6s; }
    .about .about-button a {
      color: #333; }
  .about .about-button:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border: 3px solid #333;
    color: #333; }

footer {
  background: #333;
  padding: 50px 0; }
  footer p {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Avenir Medium'; }
  footer a {
    color: #FFFFFF; }
  footer a:hover {
    color: #af2628; }
  footer .social {
    font-size: 3em; }

/************* Mobile First Design **********/
/* 480+ (xs+) */
@media only screen and (min-width: 267px) {
  h1 {
    font-size: 10vw; }

  .hero {
    height: 100vh;
    min-height: 100vh; }

  .header .icons p {
    font-size: 5vw; }

  .header .icons p i {
    font-size: 10vw; }

  .header .icons p strong {
    font-size: 6vw; }

  .header {
    background-image: url("../images/header_mobile.jpg"); }

  .meetinginfo .left {
  padding-right: 0; }

  .meetinginfo .middle {
    padding-right: 0; }

  .meetinginfo .right {
    padding-right: 0  ; }

  .hidden-phone {
    display: none } 

  .visible-phone {
    display: block; }

  .mobile-calendar {
    padding-bottom: 80% } }

/* 768+ (sm+) */
@media only screen and (min-width: 768px) {
  .hero {
    height: auto; }

  h1 {
    font-size: 36px; }

  .header .icons p {
    font-size: 2vw; }

  .header .icons p strong {
    font-size: 2.4vw; }

  .header {
    background-image: url("../images/header.jpg"); }

  .meetinginfo .left {
  padding-right: 20px; }

  .meetinginfo .middle {
    padding-right: 20px; }

  .meetinginfo .right {
    padding-right: 20px; }

  .visible-phone {
    display: none; }  
    
  .hidden-phone {
    display: block } }
  
/* 992+ (md+) */
@media only screen and (min-width: 992px) {

  .header {
    background-image: url("../images/header.jpg"); }

  .header .icons p {
    font-size: 1.2vw; }

  .header .icons p i {
    font-size: 7vw; }

  .header .icons p strong {
    font-size: 1.5vw; } 

  .meetinginfo .left {
    padding-right: 20px; }

  .meetinginfo .middle {
    padding-right: 20px; }

  .meetinginfo .right {
    padding-right: 20px; }

  .visible-phone {
    display: none; }   

  .hidden-phone {
    display: block } }
  
@media (min-width: 1200px) {
  .container {
    max-width: 970px; } 

  .meetinginfo .left {
    padding-right: 20px; }

  .meetinginfo .middle {
    padding-right: 20px; }

  .meetinginfo .right {
    padding-right: 20px; }

  .visible-phone {
    display: none; }   

  .hidden-phone {
    display: block } }
/*# sourceMappingURL=styles1.css.map */
